@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
    bottom: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

/*
font-family: 'Open Sans Condensed', sans-serif;
*/

body{
    background-color: #3b3b3b;
    margin: 0;
}
header{
    background-color: snow;
    float:none;
    
}

header img{
    left: 500px;
}

h1{
    font-size: 50px;
}
h2{
    font-family: 'Muli', sans-serif;
    font-size: 25px;
}
h3{
    font-family: 'Muli', sans-serif;
    font-size: 25px;
}
article{
    background-color: burlywood;
    margin-left: 0.5%;
    margin-right: 20%;
    font-display: initial;
    border: 2px solid black;
    margin-top: -31%;
}
aside{
    background-color: rgb(80, 114, 177);
    margin-left: 85%;
    margin-right: 2%;
    font-display: initial;
    border: 2px solid black;
    display:inline-flex;
    margin-top: 5%;

}
li{  
    list-style: none;
    list-style-type: none;
    background-color: brown;
    border-block-start: 2px solid black; 
    border-block-end: 2px solid black; 
}
ol{
    margin-left: 20%;
    list-style: none;
    list-style-type: none;
    display:inline-block;
    /*text-align: center;*/
    margin-right: 5%;
}

footer{
    background-color: rgb(73, 73, 107);
    bottom: 0;
    margin-top: 15%;
    display: list-item;
    border-block-start: 2px solid black; 
}

.divInterno{
    margin-left: 5%;
    background-color: rgba(148, 142, 63, 0.493);
    margin-right: 5%;
}